.App {
  text-align: center;
}

.btn {
  font-size: 20px;
  font-weight: bold;
}

.btn-number {
  background-color: black;
  color: white;
}

.btn-clear {
  background-color: red;
  color: white;
}

.btn-memory {
  background-color: green;
  color: black;
}

.btn-operation {
  background-color: lightgray;
  color: black;
}

.btn-equal {
  background-color: blue;
  color: white;
}

.btn-comma {
  background-color: whitesmoke;
  color: black;
}

.btn-negative {
  background-color: whitesmoke;
  color: black;
}

.display {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  padding: 3px;
  height: 28px;
  width: 148px;
  border: black 1px solid;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 212px;
  overflow: hidden;
}
